<template name="navBar">
    <nav class="navbar navbar-fixed-top navbar-light bg-faded">
        <a class="navbar-brand" href="#">Logo</a>
        <div class="nav navbar-nav">
            <a class="nav-item nav-link active" href="#">About<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">Work</a>
            <a class="nav-item nav-link" href="#">Contact</a>
            <a class="nav-item nav-link" href="#">Blog</a>
            <a class="nav-item nav-link" href="#">Videos</a>
        </div>
        <div class="nav navbar-nav pull-xs-right">
            <a class="nav-item nav-link" href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
            <a class="nav-item nav-link" href="#"><i class="fa fa-globe" aria-hidden="true"></i></a>
            <a class="nav-item nav-link" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
        </div>
    </nav>
</template>