<template name="navBar">
    <nav class="navbar navbar-fixed-top navbar-light bg-faded">
        <a class="navbar-brand" href="/">{{ logoPath }}</a>
        <div class="nav navbar-nav">
            <a class="nav-item nav-link" href="/about">About</a>
            <a class="nav-item nav-link js-work" href="#" data-container="body" data-toggle="popover" data-placement="bottom"
               data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Work</a>
            <a class="nav-item nav-link" href="#">Contact</a>
            <a class="nav-item nav-link" href="#">Blog</a>
            <a class="nav-item nav-link" href="#">Videos</a>
        </div>
        <div class="nav navbar-nav pull-xs-right">
            <a class="nav-item nav-link" href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
            <a class="nav-item nav-link" href="#"><i class="fa fa-globe" aria-hidden="true"></i></a>
            <a class="nav-item nav-link" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
        </div>
    </nav>
</template>